.camera {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.camera video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.countdown {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    font-weight: bold;
}