.camera {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.camera video {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.countdown {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    font-weight: bold;
}

.flash-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.8;
    animation: flash 0.15s ease-out forwards;
}

@keyframes flash {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0;
    }
}

.photo-count {
    position: absolute;
    color: white;
    top: 5%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
}