.frame-select-wrapper {
    top: 77px;
    bottom: 0px;
    position: relative;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}


.slick-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slider {
    width: 100%
}

.frame-wrapper {
    position: relative;
}

.frame-thumbnail {
    transition: 0.2s;
}

.frame-thumbnail.selected {
    opacity: 0.4;
}

.check-btn {
    background-color: white;
    border: none;
    font-size: 32px;
    top: 20px;
    right: 20px;
    position: fixed;
    padding: 10px 20px;
}

.check-btn.active {
    opacity: 1;
    cursor: pointer;
}

.check-btn:disabled {
    cursor: not-allowed;
}