.preview-frame {
    margin-bottom: 100px;
    left: 20%;
    position: relative;
    width: 482px;
    height: 731px;
    background-color: gray;
    overflow: hidden;
}
.frame-slot{
    width: 197px;
    height: 303px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.frame-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transform-origin: center center;
}

.slot-0 {
    top: 32px;
    left: 32px;
}

.slot-1 {
    top: 32px;
    left: 252px;
}

.slot-2 {
    top: 338px;
    left: 32px;
}

.slot-3 {
    top: 338px;
    left: 252px;
}

.frame-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 2;
}