.preview-frame {
    margin-bottom: 100px;
    left: 20%;
    position: relative;
    width: 482px;
    height: 731px;
    background-color: gray;
}
.frame-slot{
    width: 196px;
    height: 282px;
    position: absolute;
    overflow: hidden;
}

.frame-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slot-0 {
    top: 60px;
    left: 36px;
}

.slot-1 {
    top: 60px;
    left: 250px;
}

.slot-2 {
    top: 360px;
    left: 36px;
}

.slot-3 {
    top: 360px;
    left: 250px;
}